alter table public.lessons drop constraint if exists lessons_lesson_type_check;
alter table public.lessons add constraint lessons_lesson_type_check check (lesson_type in ('video', 'text', 'hybrid'));
